



.gallery {
    padding: 24px 156px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transition-property: width, heigth;
    text-decoration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
    width: 376px;
    height: 208px;
}